#visited_div {
    overflow-y: auto;
    max-height: 250px;
}

#header_div {
    text-align: center;
}

#main_div {
    min-width: 130px;
}

#clrBtn {
    width: 60px;
}

h4 {
    text-align: center;
}
